<h4>Published Stories</h4>
  <ul id="published_stories_list" class="stories_list">
    <% @published_stories.each do |story| %>
      <li class="story_in_list">
        <%= link_to story.title, story_path(story), class: "story_in_list_title" %>
        <% if @var == "private" %>
        <div class="edit_story_options_container">
          <%= link_to "Edit", edit_story_path(story), class: "story_in_list_link yellow" %>
          <%= link_to "Destroy", edit_story_path(story), class: "story_in_list_link crimson" %>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
