<div id="story_container" class="container">

  <div id="story_left_container">
    <div id="story_info">
      <h1 id="story_story_title"></h1>
      <p id="story_story_summary"></p>
      <div id="child_pages_container"></div>
      <a id="restart_button" onclick="backToStart()">Restart</a>
    </div>
  </div>

  <div id="page_right_container">
    <div id="page">
      <h3 id="story_page_title"></h3>
      <p id="story_page_text"></p>
    </div>
  </div>

</div>

<script>
  $story = JSON.parse(<%= raw @story.to_json %>);
  $('#story_story_title').html($story.title);
  $('#story_story_summary').html($story.summary);

  $start_page = $story.pages.filter(function(val) {
    return val.level === $story.levels[0];
  })[0].id;

  $current_page = $start_page;

  function setCurrentPage(id){
    $current_page = $story.pages.filter(function(val) {
      return val.id === id;
    })[0];
    setPageTitle($current_page);
    setChildPages($current_page);
    setCurrentText($current_page);
  };

  function setPageTitle(page){
    $("#story_page_title").html(page.title);
  };

  function setChildPages(page){
    $("#child_pages_container").html("");
    $child_pages = $story.pages.filter(function(val) {
      return val.parent_id === page.id;
    });
    $.each($child_pages, function() {
      $("#child_pages_container").append("<a class='child_page_link' onClick='setCurrentPage(" + this.id + ")'>" + this.title + "</a>");
    });
  };

  function setCurrentText(page){
    $("#story_page_text").html(page.text);
  };

  function backToStart(){
    setCurrentPage($start_page);
  }

  // $.each($story.pages, function() {
  //   $("#pages").append("<li onClick='setCurrentPage(" + this.id + ")'>" + this.title + "</li>");
  // });

  setCurrentPage($current_page);
</script>
