@import 'vars';

#story_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1em;
  border-radius:4px;
}

#story_right_container{
  height: 100%;
  width: 30%;
  float:right;
}


#page_left_container{
  height: 100%;
  width: 60%;
  float: left;
  margin-left:1em;
}

#story_story_title{
  color: $white;
  font-size: 2em;
  font-style: italic;
  padding:0 1em 0 0;
}

#story_story_author{
  padding: 0 1em 0 0;
  margin-bottom: 0.5em;
}

#page{
  background-color: $white;
  padding:1em;
  height: 100%;
}

#story_info{
  padding: 1em;
  width: 100%;
  height: 100%;
}

#story_page_title{
  color: $blue;
  text-decoration: underline;
  text-align:center;
}

#story_page_text{
  color: $blue;
  text-align:center;
  height: 100%;
  width: 100%;
  min-height: 480px;
  max-height: 480px;
  margin-top: 1em;
  overflow-y: auto;
}

#child_pages_container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  padding:1em 0 1em 0;
  max-height: 480px;
  overflow-y: auto;
}

.child_page_link{
  text-decoration:none;
  color: $aqua;
  border: 1px solid $aqua;
  padding: 1em;
  margin: 1em 0 1em 0;
}

.child_page_link:hover{
  color: $white;
  background-color: $aqua;
  cursor: pointer;
  font-style: italic;
}

#story_button_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

#reminder{
  width: 100%;
  text-align:center;
  font: normal normal 300 1.125rem/2rem "adelle-sans","helvetica neue",sans-serif;
  border: 3px solid $crimson;
  color: $crimson;
  padding: 1em;
  display:none;
  margin-bottom: 0.5em;
  cursor: pointer;
}

#back_button{
  color: $yellow;
  border: 1px solid $yellow;
  padding: 0.5em;
  margin-right: 1em;
}

#back_button:hover{
  color: $white;
  background-color: $yellow;
  font-style: italic;
}

#restart_button{
  color: $crimson;
  border: 1px solid $crimson;
  padding:0.5em;
  margin-left: 1em;
}

#restart_button:hover{
  color: $white;
  background-color: $crimson;
  font-style: italic;
}

//form stuff

#story_left_container{
  width: 45%;
  display: flex;
  flex-direction: column;
  float: left;
}

#story_form_container{
  background-color: $white;
  margin: 1em 0 0 1em;
  border-radius: 6px;
}

#editable_pages_container{
  margin: 0.5em 0 0 1em;
  display: flex;
  flex-direction: column;
}


#editable_pages_container{

}

#edit_first_page_button{
  color: $aqua;
  border: 1px solid $aqua;
  text-decoration: none;
  padding: 1em 0 1em 0;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 1em;
}

#edit_first_page_button:hover{
  color: $white;
  background-color: $aqua;
}

.level{
  width: 100%;
  color: $white;
  border: 1px solid $blue;
  padding: 0 0 0 0;
  margin-bottom: 1em;
  background-color: $purple;
}

.level_title{
  background-color: $blue;
  text-indent: 1em;
  color: $white;
  padding: 0.5em 0 0.5em 0;
  cursor: pointer;
}

.edit_page_page_li{
  background-color: $blue;
  text-decoration: none;
  list-style: none;
  display:none;
  padding: 0.5em 0.5em 0.5em 0.25em;
  margin: 0.5em;
}

.edit_page_li_page_title{
  width: 50%;
  float: left;
  color: $white;
}

.edit_page_li_options{
  display: flex;
  justify-content: flex-end;
}

.edit_page_page_link{
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.edit_page_page_link:hover{
  text-decoration: underline;
}

#forms_right_container{
  width: 45%;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 1em 1em 0 0;
}

#form_area{

}

#page_add_area{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

//index/user profile stuff

#index_container{
  display:flex;
  justify-content: space-between;
}

#published_stories_container{
  width: 40%;
  margin-left: 2em;
}

#unpublished_stories_container{
  width: 40%;
  margin-right: 2em;
}

#published_stories_list{
  max-height: 720px;
  overflow-y: auto;
  padding: 0 1em 0 1em;
}

#unpublished_stories_list{
  max-height: 720px;
  overflow-y: auto;
  padding: 0 1em 0 1em;
}

.story_in_list{
  list-style:none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0 1em 0;
  border: 1px solid grey;
}

.story_in_list:hover{
  background-color: $blue;
  border:none;
}

.story_in_list_title{
  color: $white;
  text-decoration:none;
}

.story_in_list_title:hover{
  text-decoration:underline;
}

.edit_story_options_container{
  display:none;
}

.story_in_list_link{
  text-decoration:none;
}

.story_in_list_link:hover{
  text-decoration: underline;
}
