@import 'vars';

#story_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1em;
  border-radius:4px;
}

#story_right_container{
  height: 100%;
  width: 40%;
  float:right;
}


#page_left_container{
  height: 100%;
  width: 50%;
  float: left;
  margin-left:1em;
}

#story_story_title{
  color: $white;
  font-size: 2em;
  font-style: italic;
  padding:0 1em 0 0;
}

#story_story_author{
  padding: 0 1em 0 0;
  margin-bottom: 0.5em;
}

#page{
  background-color: $white;
  padding:1em;
  height: 100%;
}

#story_info{
  padding: 1em;
  width: 100%;
  height: 100%;
}

#story_page_title{
  color: $blue;
  text-decoration: underline;
  text-align:center;
}

#story_page_text{
  color: $blue;
  text-align:center;
  height: 100%;
  width: 100%;
  min-height: 480px;
  max-height: 480px;
  margin-top: 1em;
  overflow-y: auto;
}

#child_pages_container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  padding:1em 0 1em 0;
  max-height: 480px;
  overflow-y: auto;
}

.child_page_link{
  text-decoration:none;
  color: $aqua;
  border: 1px solid $aqua;
  padding: 1em;
  margin: 1em 0 1em 0;
}

.child_page_link:hover{
  color: $white;
  background-color: $aqua;
  cursor: pointer;
  font-style: italic;
}

#story_button_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#reminder{
  width: 100%;
  text-align:center;
  font: normal normal 300 1.125rem/2rem "adelle-sans","helvetica neue",sans-serif;
  border: 3px solid $crimson;
  color: $crimson;
  padding: 1em;
  display:none;
  margin-bottom: 0.5em;
  cursor: pointer;
}

#back_button{
  color: $yellow;
  border: 1px solid $yellow;
  padding: 0.5em;
  margin-right: 1em;
}

#back_button:hover{
  color: $white;
  background-color: $yellow;
  font-style: italic;
}

#restart_button{
  color: $crimson;
  border: 1px solid $crimson;
  padding:0.5em;
  margin-left: 1em;
}

#restart_button:hover{
  color: $white;
  background-color: $crimson;
  font-style: italic;
}
