$white:     #FDFFFC;
$background_white: #EAEAEA;
$blue:      #011627;
$dark_blue: #011220;
$aqua:      #2EC4B6;
$crimson:   #E71D36;
$yellow:    #FF9F1C;
$navy:      #00002e;

$light_blue: #072F4F;
$very_light_blue: #0588ad;
$medium_blue: #003e54;

$mint: #a4f9c8;

$violet: #3a015c;
$dark_purple: #33032f;
$purple: rgb(28, 2, 60);
